<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LIVEtheMUSIC</display-name>
  <servlet>
    <servlet-name>index</servlet-name>
    <servlet-class>logic.view.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>home</servlet-name>
    <servlet-class>logic.view.BuyTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>searchResult</servlet-name>
    <servlet-class>logic.view.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchResult</servlet-name>
    <url-pattern>/searchResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ButtonHandler</servlet-name>
    <servlet-class>logic.view.ButtonHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ButtonHandler</servlet-name>
    <url-pattern>/ButtonHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddMusicEventServlet</servlet-name>
    <servlet-class>logic.view.AddMusicEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMusicEventServlet</servlet-name>
    <url-pattern>/AddMusicEventServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminMusicEventServlet</servlet-name>
    <servlet-class>logic.view.AdminMusicEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminMusicEventServlet</servlet-name>
    <url-pattern>/AdminMusicEventServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>logic.view.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>addNews</servlet-name>
    <servlet-class>logic.view.AddNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addNews</servlet-name>
    <url-pattern>/addNews</url-pattern>
  </servlet-mapping>
      <servlet>
      <servlet-name>acceptNews</servlet-name>
    <servlet-class>logic.view.AcceptNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>acceptNews</servlet-name>
    <url-pattern>/acceptNews</url-pattern>
  </servlet-mapping>
        <servlet>
      <servlet-name>friends</servlet-name>
    <servlet-class>logic.view.FriendsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>friends</servlet-name>
    <url-pattern>/friends</url-pattern>
  </servlet-mapping>
          <servlet>
      <servlet-name>MusicEvent</servlet-name>
    <servlet-class>logic.view.MusicEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MusicEvent</servlet-name>
    <url-pattern>/MusicEvent</url-pattern>
  </servlet-mapping>
  
</web-app>